@inherits LayoutComponentBase

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href="src/assets/images/favicon.png">
	<title>Nice admin Template - The Ultimate Multipurpose admin template</title>
	<!-- Custom CSS -->
	<link href="src/dist/css/style.min.css" rel="stylesheet">
</head>

<div class="main-wrapper">
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
		 style="background:url(src/assets/images/big/auth-bg.jpg) no-repeat center center;">
		<div class="auth-box">
			<div id="loginform">
				<div class="logo">
					<span class="db"><img src="src/assets/images/logo-icon.png" alt="logo" /></span>
					<h5 class="font-medium m-b-20">Sign In to Admin</h5>
				</div>
				@Body
			</div>
		</div>
	</div>
</div>
<script src="src/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="src/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="src/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugin js -->
<!-- ============================================================== -->
<script>
	$('[data-toggle="tooltip"]').tooltip();
	$(".preloader").fadeOut();
	// ==============================================================
	// Login and Recover Password
	// ==============================================================
	$('#to-recover').on("click", function () {
		$("#loginform").slideUp();
		$("#recoverform").fadeIn();
	});
</script>