<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="src/assets/images/favicon.png">
    <title>ECMS</title>
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["ExpenseClaimSystem.BlazorServer.styles.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    @* <script src="@Assets["Components/Account/Shared/PasskeySubmit.razor.js"]" type="module"></script> *@
</body>

</html>
