@page "/register"
@using ExpenseClaimSystem.Application.DTOs
@using ExpenseClaimSystem.Application.Interfaces
@inject IAuthService AuthService
@inject NavigationManager Nav

<h3>Register</h3>

<EditForm Model="model" OnValidSubmit="HandleRegister">
    <InputText @bind-Value="model.FullName" placeholder="Full Name" />
    <br />
    <InputText @bind-Value="model.Email" placeholder="Email" />
    <br />
    <InputText @bind-Value="model.Password" type="password" />
    <br />
    <button type="submit">Register</button>
</EditForm>

@code {
    private RegisterRequest model = new();

    private async Task HandleRegister()
    {
        var result = await AuthService.RegisterAsync(model);

        if (result)
            Nav.NavigateTo("/");
    }
}
