@page "/login"
@layout LoginLayout
@using ExpenseClaimSystem.Application.DTOs
@using System.Net.Http.Json
@using ExpenseClaimSystem.Application.Interfaces
@inject NavigationManager Nav
@rendermode InteractiveAuto
@inject IAuthService AuthService

<!-- Form -->
<div class="row">
	<div class="col-12">

		<EditForm Model="loginModel" OnValidSubmit="HandleLogin" FormName="LoginForm" class="form-horizontal m-t-20">

			<DataAnnotationsValidator />
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
				</div>
				<input @bind="loginModel.Email" @bind:event="oninput" class="form-control form-control-lg" placeholder="User Name" />
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon2">
						<i class="ti-pencil"></i>
					</span>
				</div>
				<input type="password" @bind="loginModel.Password" @bind:event="oninput" class="form-control form-control-lg" placeholder="Password" />
			</div>
			<div class="form-group row">
				<div class="col-md-12">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck1">
						<label class="custom-control-label" for="customCheck1">Remember me</label>
						<a href="javascript:void(0)" id="to-recover"
						   class="text-dark float-right">
							<i class="fa fa-lock m-r-5"></i> Forgot
							pwd?
						</a>
					</div>
				</div>
			</div>
			<div class="form-group text-center">
				<div class="col-xs-12 p-b-20">
					<button type="submit" class="btn btn-block btn-lg btn-info">Login</button>
				</div>
			</div>
			<div class="form-group m-b-0 m-t-10">
				<div class="col-sm-12 text-center">
					Don't have an account? <a href="new-user.php" class="text-info m-l-5">
						<b>
							Sign
							Up
						</b>
					</a>
				</div>
			</div>
		</EditForm>
	</div>
</div>

@code {
	LoginRequest loginModel = new();

	async Task HandleLogin()
	{
		// Nav.NavigateTo("/dashboard");

		// *** issue with reading form element values

        Console.WriteLine($"Email: '{loginModel.Email}'");
        var token = await AuthService.LoginAsync(loginModel);

        if (!string.IsNullOrWhiteSpace(token))
        {
            Console.WriteLine("Logged IN!");
            Nav.NavigateTo("/dashboard", true);
        }
        else
        {
            Console.WriteLine("Login Failed!");
        }
	}
}
